#
# {{ ansible_managed_note }}
#

[Unit]
Description=Mailman Web WSGI host
Requires=network.target mariadb.service mailman3.service
After=   network.target mariadb.service mailman3.service

[Service]
Environment="PYTHONPATH=/etc/mailman3/"
User=mailman
Group=mailman
ExecStart=/usr/bin/gunicorn -c /etc/mailman3/gunicorn.conf.py mailman_web.wsgi:application
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
