#
# {{ ansible_managed_note }}
#

# Disallow root user to log in at all.
PermitRootLogin no

# Turn most ssh features off, and selectively re-enable them per user as needed.
AllowAgentForwarding no
AllowTcpForwarding no
PermitTTY no
PermitUserRC no

AllowUsers sean

Match Group wheel
	PermitTTY yes
